@media screen and (max-width:1050px){
    
    .navbar{
        position: relative;
    }

    .menu{
        display:none
    }

    .logo{
        margin:0;
        text-align: center;
    }

    .header{
        padding-top:50px;
    }

    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
        margin:0 0 20px 0;
    }
    
    .headline p{
        text-align: center;
        margin: 5%;
    }
    
    .img-headline{
        flex: 100%;
        text-align: center;
        margin: 5%;
    }
    
    .whats{
        display: none;
    }

    .card{
        width: 100%;
    }
    
}