body{
    margin: 0px;
}


h1{
    color: white;
    border: 1px outset black;
    border-radius: 15px;
    text-align: center;
    background: black;
    margin: 30px; /*Da espaçapamento envolta do elemento*/
    padding: 10px; /*Da espaçamento dentro do elemento*/
}

p{
    color: red;
}

.botão{
    margin-left: 33%;
    background: green;
    color: white;
    padding: 1.5%; 
    text-decoration: none;
    border-radius: 25px;
}
.botão:hover{ /*Hover cria uma animação ao passar o mouse por cima do elemento*/
    background-color: blue;

}

