*{
    box-sizing: border-box;
}

.flex-pai{
    background:blue;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /*TODO Faz o alinhamento do itens de forma horizontal*/
    align-items:center; /*TODO Faz o alinhamento dos itens de forma vertical EM NIVEL INDIVIDUAL*/
    align-content: center;/*TODO Faz o alinhamento dos itens de forma vertical EM NIVEL DE GRUPO*/
}

.flex-pai div{
    flex-grow:1; /* TODO Faz o crescimento dos elementos de uma forma em que todos eles fiquem uniformes, e sempre deve ser no elemento filho*/
    background: white;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}
