body{
    margin:0;
    overflow-y: hidden;
}


.container{
    border: 1px solid black;  
    overflow: auto;
}


.container img{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* TODO Tomar como base de um menu de seleção */

ul{
    background: black;
    padding: 20px;
}

li{
    display: inline-block;
 }

 li a{
    color:white; 
    text-decoration: none;
    padding: 20px;
 }
 li a:hover{
    background: #ccc;
    color: black;
 }

/* TODO Tomar como base de um menu de seleção */


.login{
    float:right;
}

.login a:hover{
    background: orangered;
}